
<form>
  <div class="form-group">
    <label for="author">Name</label>
    <br>
    {{textarea value=author id="answer-author"}}
  </div>
  <div class="form-group">
    <label for="content">Answer</label>
    <br>
    {{textarea value=content id="content"}}
  </div>
  <button {{action 'saveAnswer'}}>Answer</button>
</form>
