<h3>Favorite list</h3>
<br>
{{#if favoriteList.questions.length}}
  {{#each favoriteList.questions as |question index|}}
    {{#link-to 'question' question.id}}<p class="favorite-list-question">{{question.title}}</p>{{/link-to}}
      <a href="#" {{action 'removeFromFavorites' index}}>Remove</a>
    <br>
    <hr>
  {{/each}}
{{else}}
  <p>Your favorite list is currently empty. {{#link-to 'index'}}Add questions{{/link-to}} to your favorite list.</p>
{{/if}}

<button class="btn btn-primary" {{action 'clearFavorites'}}>Clear favorites</button>
