<div class="upvote-box" style="width:30px;top:10px;position:relative;text-align:center;">
  <a href="#" {{action 'upVote' question}}><i style="margin:0 auto;" class="fa fa-arrow-up"></i></a>
  <p class="question-rank"> {{question.rank}}</p>
  <a href="#" {{action 'downVote' question}}><i class="fa fa-arrow-down"></i></a>
</div>
