<div class="upvote-box" style="width:30px;top:10px;position:relative;text-align:center;">
  <i style="margin:0 auto;"{{action 'upvote' question}} class="fa fa-arrow-up"></i>
  <p style="margin-top:5.5px;font-size:16px;"> {{question.rank}}</p>
  <i {{action 'downvote'}}class="fa fa-arrow-down"></i>
</div>
