<form>
  <label for="author">Who's asking?</label>
  <br>
  {{textarea value=author id="author" type="text"}}
  <br>
  <br>
  <label for="title">What's your question?</label>
  <br>
  {{textarea value=title id="title" type="text"}}
  <br>
  <br>
  <label for="note">Additional notes</label>
  <br>
  {{textarea value=note id="note" type="text"}}
  <br>
  <br>
  <button {{action 'saveQuestion'}}>Ask!</button>
</form>
