#note {
  height: 150px;
  width:250px;
}

#author {
  width:250px;
}

#title {
  width:250px;
  height:100px;
}

#note, #author, #title {
  padding:0.4em;

}

.underline {
  text-decoration: underline;
}

.question-rank {
  margin-top:5.5px;
  font-size:16px;
}

.favorite-list-question {
  font-size:16px;
  color:black;
}

.favorite-list-question:hover {
  color:#337ab7;
}

.question-big {
  font-size: 24px;
}

.table-data {
  padding: 5px;
}
