<h2>Welcome to the message board</h2>
<br>

{{question-add saveQuestion="saveQuestion"}}
<br>
<h3>Current questions</h3>
<br>
{{#each model.questions as |question|}}
    <h4>{{question.title}}</h4>
      <h6>Asked by {{question.author}}</h6>
      {{#link-to 'question' question.id}}Answer{{/link-to}}
    <hr>
    <br>
{{/each}}
