<h2>Welcome to the message board</h2>
<br>

{{question-add saveQuestion="saveQuestion"}}
<br>
<h4>Current questions</h4>
{{#each model.questions as |question|}}
    <li>{{question.title}}</li>
{{/each}}
