<div class="row">
  <div class="col-sm-8">
    {{#each model.questions as |question|}}
    <h4>{{question.title}}</h4>
    <h6>Asked by {{question.author}}</h6>
    {{#link-to 'question' question.id}}Answer{{/link-to}}
    <hr>
    <br>
    {{/each}}
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <h4 class="text-primary underline">Ask a question</h4>
    <br>
    {{question-add saveQuestion="saveQuestion"}}
  </div>
</div>
