<div class="row">
  {{question-sheet questions=model.questions upVote="upVote" downVote="downVote" saveQuestion="saveQuestion"}}

  <div class="col-sm-3 col-sm-offset-1">
    <h4 class="text-primary underline">Ask a question</h4>
    <br>
    {{question-add saveQuestion="saveQuestion"}}
  </div>

  {{currentDate 'LL'}}
</div>
